
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
a.text-black.fs-6{
    text-decoration: none;
}
.blogs .title{
    color: #131313;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.3;
    word-break: break-word;
    font-family: 'Urbanist';
    padding-top: 58px;
    padding-bottom: 58px;

}
.blogs ul{
    list-style-type: none;
    display: flex;
    font-size: 13px;
    letter-spacing: .1em;
    padding-top: 0px;
    margin-left: -25px;
    
}

.blogs ul li{
    
    line-height: 1.5;
}
.blogs ul li a{
    font-family: 'Urbanist' ;
    color: rgb(126 , 126 , 126);
    text-decoration: none;
}
ul li a:hover{
    color: #131313;
    border-bottom: 1px solid #131313;
}
.break::after{
    content: "";
    width: 1px;
    height: 14px;
    border-radius: 0;
    display: inline-block;
    background-color: #c4c4c4;
    margin: 0 10px;
    vertical-align: middle;
    box-sizing: border-box;
}
.desc h3 a{
    font-size: 20px;
    font-family: 'Urbanist' ;
    color: #131313;
    font-weight: 600;
    text-decoration: none;
    
}
.desc .para{
    width: 100%;
}
.desc .para p{
    width: 60%;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Urbanist' ;
    color: rgb(126 , 126 , 126);
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.read{
    font-size: 16px;
    font-family: 'Urbanist' ;
    color: #131313;
    font-weight: 600;
    line-height: 1.3;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}
.read:hover{
    border-bottom: 1px solid #131313;
}



@media(max-width:768px){
    .image{
        width: 100%
        
    }
    .image img{
        width: 100%;
    }
}
