

a {
  
    border: none;

}
a.text-black.fs-6{
    text-decoration: none;
}
/* //////blog navbar css ///// */
nav ul {
    width: 40%;
}
nav .nav-logo {
    width: 27%;
    padding-right: 33%;;
}
nav .nav-icons{
    text-align: right;
}
@media (max-width:991px) {
    nav .fa-user, nav .fa-star , nav .fa-credit-card{
        display: none;
    }
    nav .nav-logo{
    width: 56%;
    text-align: right;
    margin-left: 21%;
    }
    nav .nav-logo img{
        width: 130%;
    }
    nav .nav-icons{
        width: 9% !important;
    }
}

@media (max-width:765px) {
    
    nav .nav-logo {
        width: 57%;
    text-align: right;
    margin-left: 16%;
    }
    nav .nav-logo img {
        width: 170%;  
        
    }
    nav .nav-icons{
        width: 7% !important;
        padding-right: 9%;
    }
    .nav-icons i {
        font-size: 17px;
    }
}
/*//////// home-blog //////// */
.home_blog{
    background-color: #f5f5f5;
}
.home_blog .row{
    height: 1px;
    width: 35px;
}
.home_blog a{
    color: #6e8596;
    font-size: 19px;
}
.home_blog p{
    color: #6e8596;
    font-size: 19px;
}
.home_blog p:hover{
    color: black;
}
.home_blog a:hover{
    color: black;
}
/*.home_blog p:first-child::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: black;
}
*/
@media (max-width:765px) {
    .home_blog a {
        font-size: 15px !important;
    }
    .home_blog p {
        font-size: 15px !important;
    }
}
/* ///// blog information css ////////// */
.information ul{
    display: block;
}
.information .list_:first-child p{
    color: #89807e !important;
    font-weight: 500;
    font-size: 19px;
}
.information .list_:first-child a{
   border-bottom: 1px solid black;
}

.information .list_:first-child span{
    font-size: 19px;
}
.information .submit:hover{
    background-color: #4e7661 !important;
}
.information .massege{
    border: 1px solid black;
    width:fit-content;
    padding: 3px 25px;
    border-radius: 5px;
    line-height: 28px;
    margin-top: 15px; 
    position: relative;
    opacity: 0;
    }
    .information .massege::before{
        content: "";
        position: absolute;
        height: 20px;
        width: 16px;
        
        top:-20px;
        right: 30px;
        border-top: 10px solid  transparent;
        border-right: 10px solid  transparent;
        border-left: 10px solid  transparent;
        border-bottom: 10px solid gray;
    }   
    .information .massege p{
        font-size: 18px;
        
    }
    .information .massege span{
        display: inline-block;
        padding: 2px 12px;
        color: white;
        background-color: #fcb900;
        border-radius: 5px;
        margin-left: 10px;
    }
   