
 @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dosis&family=Fira+Sans&family=Josefin+Sans:wght@700&family=Raleway&family=Roboto&family=Urbanist&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: black;
    color: #f8f8f8;
}

a{
    text-decoration: none !important;
    color: black;
    border-bottom: none;
}
body{
    font-family: 'Urbanist', sans-serif;
}

/* ///// catagory css /// */

.catagory{
    padding: 5% 4%;

}


.catagory .title h2{
    font-weight: 600;
}
.catagory .title p{
    font-weight: 500;
    color: #7E7E7E;
}
.catagory .item img{
    width: 100%;
    transition: .5s;
}
.catagory .item .cat_ {
   width: 100%;
    bottom: 8%;
   text-align: center;
}
.catagory .item .cat_ a{
    font-weight: 600;
    font-size:20px ;
}
.catagory .item .cat_ a:hover{
    background-color: black !important;
    color: white;
}
.catagory .item:hover img{
    transform: scale(1.2);
}
@media (max-width:991px) {
   
     .catagory .container-fluid{
        width: 100% !important;
    }
   
    .catagory .test{
        margin-top: 25px;
    }
    
}
@media (max-width:765px) {
    .catagory .item .cat_ a{
        font-size:15px ;
     }

}
/* ///// new collection css /// */
.new_collection{
    padding: 5% 4%;

}
.new_collection img{
    width: 100%;
    transition: .5s;
   
}
.new_collection .item{
    position: relative;
    overflow: hidden;
    
}
.new_collection .item:nth-child(1){
    animation: animationForImg 1.2s;
}
.new_collection .item:nth-child(2){
    animation: animationForImg 1.2s .1s;
}
/*
.new_collection .item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    transform: rotate(-45deg) scale(1.5) ;
    opacity: 0;
    transition: .5s 1s;
    
}
.new_collection .item:hover::after{
    opacity: 1;
    transform:translate(100%, 50px); 
    
}
*/
.new_collection img:hover{
    scale: 1.2;
}
.new_collection .text_con{
    top: 30px;
    left: 30px;
    padding: 20px 30px;

}
.new_collection .text_con p{
    font-size: 20px;
    font-weight: 600;
    padding-bottom:20 px;
}
.new_collection .text_con p:nth-child(2){
    font-size: 18px;
    font-weight: 500;
}
.new_collection .text_con h3{
    font-size: 45px;
    font-weight: 800;
}
.new_collection .text_con a{
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    padding: 15px 45px;
}
.new_collection .text_con a:hover{
    background-color: black !important;
    color: white !important;
}
.new_collection h2{
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 5%;
    animation:  animationForTitel;
    animation-duration: 1.2s;
    animation-delay: .2s;
}
.new_collection .email:focus-visible{
    border: 1px solid black !important;
}
 ::placeholder{
    font-size: 22px;
    color: #927E92 ;
    font-family: 'Urbanist', sans-serif;
}
.new_collection .submit{
    font-family:'Urbanist', sans-serif;
    font-weight: 500; 
    font-size: 20px;
}
.new_collection .submit:hover{
    background-color: #4e7661 !important;
}
.new_collection input{
    animation: animationForinput ;
    animation-duration: 1.2s;
    animation-delay: .2s;
}
@keyframes animationForTitel{
    0%{
        transform: translateY(75%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes animationForinput{
    0%{
        transform: translateY(85%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes animationForImg{
    0%{
        transform: translateY(60%);
    }
    100%{
        transform: translateY(0%);
    }
}
.new_collection .massege{
border: 1px solid black;
width:fit-content;
padding: 3px 25px;
border-radius: 5px;
line-height: 28px;
margin-top: 15px; 
position: relative;
opacity: 0;
}
.new_collection .massege::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 16px;
    
    top:-20px;
    right: 30px;
    border-top: 10px solid  transparent;
    border-right: 10px solid  transparent;
    border-left: 10px solid  transparent;
    border-bottom: 10px solid gray;
}   
.new_collection .massege p{
    font-size: 18px;
    
}
.new_collection .massege span{
    display: inline-block;
    padding: 2px 12px;
    color: white;
    background-color: #fcb900;
    border-radius: 5px;
    margin-left: 10px;
    

    
}
@media (max-width:991px) {
    .new_collection .text_con {
        top: 20px;
    }
    .new_collection .text_con p {
        font-size: 15px;
    }
    .new_collection .text_con p:nth-child(2) {
        font-size: 15px;
    }
    .new_collection .text_con h3 {
        font-size: 22px;
    }
    .new_collection .text_con a {
        font-size: 15px;
        margin-top: 10px;
        padding: 10px 20px;
     }
      .new_collection h2 {
    font-size: 35px;
     }
     ::placeholder{
        font-size: 20px;
    }
}

    @media (max-width:765px)  {
    .new_collection {
        padding: 0% 0%;
        }
    .new_collection h2 {
         font-size: 28px;
        } 
    .new_collection .submit {
         font-size: 18px; 
       } 
     ::placeholder{
        font-size: 18px;
     }
     .new_collection .user_entry{
        width: 100% !important;
     }
    }

/*   // information section css//   */

.information{
    background-color: #f8f8f8;
    padding: 5% 4%;
}
.information .text h2{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5%;
} 
.information .text p{
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    margin: 5% 0%;
    color: #927E92; 
} 
.information .text a{
    font-size: 18px;
    font-weight: 700;
}
.information .text a:hover{
    color: #647c61;
}
.information .text span{
    margin-left: 15px;
}
.information .list_ {
   margin-right: 20px;
}
.information .list_ h3{
    font-family: 'Urbanist', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 28px;
}
.information .list_ a{
   color: #927E92;
   font-size: 19px;
   text-transform: capitalize;
   font-weight: 500;
   display: inline-block;
   transition: color 1.2s , border-bottom 1.2s;
}
.information .list_ a:hover {
    color: black;
    border-bottom: 1px solid black;
}

@media (max-width:765px) {
    
 .information .text h2 {
        font-size: 35px;   
}
      
  .information .text a{
   margin-top: 0;
}
   .information .list_ {
    margin-top: 25px;
}
}

/* ////footer css //////  */
footer{
    background-color: #f8f8f8;
    padding: 5% 4%;
}
footer .icon li{
    font-size: 23px;
    position: relative;
}
footer .icon li span{
    color: #927E92;  
    font-size: 18px;
}
footer .icon .title{
    background-color: black;
    color: #f8f8f8;
    width:fit-content;
    padding: 6px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    line-height:25px ;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}


footer .icon .title::after{
    content: "";
    height: 15px;
    width: 14px;
    background-color:transparent;
    position: absolute;
    top:28px;
    left :15px;
    border-top: 10px solid black;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    
}
footer .icon li:hover .title{
    visibility:visible;
    opacity: 1;
    transform: translateY(-5px);
}

@media (max-width:991px) {
    footer .icon  ul{
        text-align: center;
    }
   footer .logo img{
    width: 35% !important;
   }
   footer .pay img{
    width: 55% !important;
   }
   footer .logo{
    margin-top: 25px ;
    margin-bottom: 25px  ;
}
     footer .pay{
    margin-top: 25px ;
    margin-bottom: 25px ;
}
}


@media (max-width:765px) {
    footer .icon  ul{
        text-align: start;
      }
    footer .icon li {
        font-size: px;
        display: block;
    }
   footer .logo img{
    width: 50% !important;
    margin-top: 25px;
    margin-bottom: 25px;
   }
   footer .pay img{
    width: 100% !important;
    margin-top: 25px;
    margin-bottom: 25px;
   }
}
footer li a:hover{
    color: black !important;
}
footer .list-inline-item:not(:last-child) {
    margin-right: -1.5rem;
}